.card {
    background: #fff;
    border-radius: 2px;
    height: 225px;
    margin: 1rem;
    position: relative;
    width: 225px;
    box-shadow: 0 2px 5px #999, 0 2px 5px #999;
    text-align: left;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    background:#6CADDC;
  }
  .card > .img-container > img {
    width: 100%
  }
  
  .card > .content {
    padding-left: 1rem;
    font-size: 15px;
  }
 