.App {
  text-align: center;
  background:darkolivegreen;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 39px;
}

.App-header {
  background-color: #282c34;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  margin-top: 20px;
  background-color: #282c34;
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
